autoflake
colorama
Cython
future
ipython
isort
loguru
matplotlib
numba
numpy
opencv-python
pandas
pillow
pycocotools
pylint
scikit-image
scipy
shapely
tensorboard
tqdm
wget
yacs
yapf
pre-commit
fvcore
timm
pyyaml
configparser
pyzmq